<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'POS_SELECTION.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner></ion-spinner>
    <p>{{ 'POS_SELECTION.LOADING_MESSAGE' | translate }}</p>
  </div>

  <div *ngIf="hasNoPosAvailable" class="empty-state">
    <ion-text>
      <h2>{{ 'POS_SELECTION.NO_POS_AVAILABLE' | translate }}</h2>
      <p>{{ 'POS_SELECTION.NO_POS_MESSAGE' | translate }}</p>
    </ion-text>
  </div>

  <div *ngIf="!isLoading && !hasNoPosAvailable">
    <ion-text>
      <p class="instruction-text">{{ 'POS_SELECTION.SELECT_PROMPT' | translate }}</p>
    </ion-text>

    <ion-radio-group [(ngModel)]="selectedPosId">
      <ion-item *ngFor="let pos of availablePos" class="pos-item">
        <ion-label>
          <h2>{{ pos.name }}</h2>
          <p *ngIf="pos.location">{{ pos.location }}</p>
        </ion-label>
        <ion-radio [value]="pos.id" slot="start"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-button
      expand="block"
      [disabled]="!selectedPosId"
      (click)="onContinue()"
      class="ion-margin-top"
    >
      {{ 'POS_SELECTION.CONTINUE_BUTTON' | translate }}
    </ion-button>
  </div>
</ion-content>
