<ion-header>
  <ion-toolbar>
    <ion-title>Select Point of Sale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner></ion-spinner>
    <p>Loading available locations...</p>
  </div>

  <div *ngIf="hasNoPosAvailable" class="empty-state">
    <ion-text>
      <h2>No Points of Sale Available</h2>
      <p>You don't have any assigned points of sale. Please contact your administrator.</p>
    </ion-text>
  </div>

  <div *ngIf="!isLoading && !hasNoPosAvailable">
    <ion-text>
      <p class="instruction-text">Select a point of sale to continue:</p>
    </ion-text>

    <ion-radio-group [(ngModel)]="selectedPosId">
      <ion-item *ngFor="let pos of availablePos" class="pos-item">
        <ion-label>
          <h2>{{ pos.name }}</h2>
          <p *ngIf="pos.location">{{ pos.location }}</p>
        </ion-label>
        <ion-radio [value]="pos.id" slot="start"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-button
      expand="block"
      [disabled]="!selectedPosId"
      (click)="onContinue()"
      class="ion-margin-top"
    >
      Continue
    </ion-button>
  </div>
</ion-content>
