<ng-container>
  <!-- Language Selection Radio Group -->
  <ion-list [class]="'language-switcher-' + displayMode">
    <ion-list-header>
      <ion-label>{{ 'COMMON.LANGUAGE' | translate }}</ion-label>
    </ion-list-header>

    <!-- Radio Group for Language Selection -->
    <ion-radio-group
      [value]="currentLanguage()"
      (ionChange)="onLanguageSelect($event.detail.value)"
      [disabled]="isLoading()"
      aria-label="Select language">
      
      <ion-item *ngFor="let lang of availableLanguages" [disabled]="isLoading()">
        <ion-radio
          [value]="lang.code"
          [disabled]="isLoading()"
          [attr.aria-label]="'Select ' + lang.name">
          {{ lang.name }}
        </ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <!-- Loading Indicator -->
  <ion-loading
    [isOpen]="isLoading()"
    [message]="'COMMON.LOADING' | translate"
    [backdropDismiss]="false"
    aria-live="polite">
  </ion-loading>
</ng-container>
