<ion-card (click)="onTap()">
  <!-- <ion-img [src]="imageUrl" loading="lazy"></ion-img> -->
  <div class="imageContainer">
    <ion-icon name="image-outline"></ion-icon>
  </div>
  <ion-card-header>
    <ion-card-title>{{ product.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="price" [class.unavailable]="!product.defaultPrice">
      {{ formattedPrice }}
    </p>
    <p class="description" *ngIf="hasDescription">
      {{ product.description }}
    </p>
    <p class="category" *ngIf="product.category">{{ product.category }}</p>
  </ion-card-content>
</ion-card>
